h1 {
    color: 8ACCD 5px;
    background-color: #8accd5;
}

a img {
    border: 3px solid #3b546e;
}

a h2 {
    color: #ee94b8;
    background-color: #ee94b8;
}
li{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
title{
    font-size: ;
}
