body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f3f4;
    color: #333;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px 0;
}

header img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}